<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT equipment signout form</title>
    <!--What I am about to do has not been approved by the Vatican.-->
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.6/dist/signature_pad.umd.min.js"></script>
    <script src="main.js"></script>
    <link href="static/style.css" rel="stylesheet">
</head>

<body>
    <div class="flex">
        <div class="flex_row">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="flex_row">
            <label for="equipment-select">Equipment to sign out:</label>
            <select name="equipment" id="equipment-select">
                <option value="">--Please choose an option--</option>
                <option value="chromebook">Chromebook</option>
                <option value="headphones">Headphones</option>
                <option value="guitar-acoustic">Acoustic guitar</option>
                <option value="guitar-electric">Electric guitar</option>
                <option value="asdfasdf">asdfasdf</option>
                <option value="test">test</option>
            </select>
        </div>
        <div class="flex_row">
            <canvas id="signatureCanvas" class="canvas" width="auto" height="auto">
                Oops! There's supposed to be a canvas here, refresh or something.
            </canvas>
        </div>
        <button id="confirmButton">Sign out</button>
    </div>
        <a href="/signin">Want to sign something back in?</a>
</body>

</html>