<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT equipment signout form</title>
    <!--What I am about to do has not been approved by the Vatican.-->
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.6/dist/signature_pad.umd.min.js"></script>
    <script src="main.js"></script>
</head>

<body>
    <form method="POST">
        {{ form.name.label }} {{ form.name() }}
        {{ form.equipment.label }} {{ form.equipment() }}
        {{ form.submit() }}
    </form>
    <canvas id="signatureCanvas" width="400" height="200"></canvas>
    <button id="signatureButton">Save signature</button>
</body>

</html>