<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT equipment sign in form</title>
    <!--What I am about to do has not been approved by the Vatican.-->
    <script src="main.js"></script>
    <link href="static/style.css" rel="stylesheet">
</head>

<body>
    <div class="flex">
        <div class="flex_column">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="flex_column">
            <label for="equipment-select">Equipment to sign in:</label>
            <select name="equipment" id="equipment-select">
                <option value="">--Please choose an option--</option>
                <option value="chromebook">Chromebook</option>
                <option value="headphones">Headphones</option>
                <option value="guitar-acoustic">Acoustic guitar</option>
                <option value="guitar-electric">Electric guitar</option>
                <option value="asdfasdf">asdfasdf</option>
                <option value="test">test</option>
            </select>
        </div>
        <div class="flex_column">
        <button id="confirmButton">Sign in</button>
        </div>
        <a href="/">Want to sign something out?</a>
    </div>
</body>

</html>