<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <h1>Equipment logged successfully.</h1>
    <br>
    <p>Please proceed to take/return the equipment.</p>
    <a href="/">Back to signout page</a>
</body>

</html>