<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
</head>

<body>
    <h1>Equipment signed out successfully.</h1>
    <br>
    <p>You can now take the equipment.</p>
    <a href="/">Back to signout page</a>
</body>

</html>