<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
    <link href="static/style.css" rel="stylesheet">
</head>

<body>
    <div class="flex">
        <div class="flex_row">
            <h1>Equipment logged successfully.</h1>
        </div>
        <div class="flex_row">
            <p>Please proceed to take/return the equipment.</p>
        </div>
        <div class="flex_row">
            <a href="/">Back to signout page</a>
        </div>
    </div>
</body>

</html>